/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./cssmedia.css";

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec8b15;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
.cursor {
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(140, 255, 0);
  position: absolute;
  -webkit-transition: all linear 0.00000000000001s;
  -o-transition: all linear 0.00000000000001s;
  transition: all linear 0.00000000000001s;
  top: -1000000%;
  mix-blend-mode: difference;
  z-index: 99999;
  /* display: none;  */
}
nav {
  height: 10vh;
  width: 100%;
  background-color: #151414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e7cfb1;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: larger;
}
.logo {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: red; */
}
.logo img {
  height: 90%;
}
.hamburger {
  height: 100%;
  width: 50%;
  font-size: xx-large;
  display: flex;
  justify-items: center;
  align-items: center;
  color: #e7cfb1;
  display: none;
}
.options {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.options p:hover {
  color: #ec8b15;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #e7cfb1;
  /* position: relative; */
}
.page1 {
  height: 110%;
  width: 100%;
  background-color: #151414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page1 h1 {
  display: inline-block;
  font-family: sans-serif;
  font-size: 650px;
  color: #f3c77c;
}

.page1 p {
  font-family: sans-serif;
  font-size: xx-large;
  color: #f3c77c;
  text-align: center;
  position: relative;
  bottom: 10%;
  line-height: 150%;
}

.page2 {
  height: 100%;
  width: 100%;

  background-color: #151414;
}
.page2 video {
  height: 100%;
  width: 60%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.page3 {
  height: 100%;
  width: 100%;
  background-color: #151414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.outer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: ; */
  position: relative;
  padding: 10vh;
  overflow: hidden;
}
.outer h1 {
  color: #e7cfb1;
  font-family: sans-serif;
  font-size: 150px;
  text-align: left;
  letter-spacing: 1vh;
  font-weight: 600;
}
.it1 {
  font-family: Pristina;
  font-style: italic;
  padding-right: 2vh;
}

.inner {
  position: absolute;
  height: 15vw;
  width: 25vw;
  bottom: 0;
  left: 70%;
  display: block;
}
.inner p {
  color: #e7cfb1;
  font-size: x-large;
}
.page4 {
  height: 220%;
  width: 100%;
  background-color: #151414;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.left {
  height: 100%;
  width: 45%;
  /* background-color: #ec8b15; */
  position: relative;
}
.left .v1l {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 1%;
}
#v1l {
  height: 125%;
  width: 100%;
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#v1l:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
}
.left p {
  font-size: x-large;
  font-family: sans-serif;
  color: white;
}
.left .v2l {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 50%;

  right: 20%;
  /* background-color: red; */
}
#v2l {
  height: 100%;
  width: 100%;

  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.v2l p {
  padding-left: 20%;
}
#v2l:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
  -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
  -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) ease 1s;
}

.right {
  height: 100%;
  width: 45%;
  /* background-color: #E7CFB1; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#spinner {
  font-size: 250px;
  position: absolute;
  top: 1%;
  right: 10%;
  color: white;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.right p {
  font-size: x-large;
  font-family: sans-serif;
  color: white;
}
.i1r {
  position: absolute;
  height: 40%;
  width: 80%;
  top: 20%;
  left: 20%;
}
.i1r img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.i1r img:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}
.i2r {
  position: absolute;
  height: 40%;
  width: 120%;
  top: 55%;
  right: 1%;
}
.i2r img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.i2r img:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}

.page5 {
  height: 110%;
  width: 100%;
  background-color: #151414;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10%;
}
.innerp5 {
  height: 80%;
  width: 50%;
  /* background-color: red; */
}
.innerp5 img {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.innerp5 img:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}

.innerp5 p {
  font-size: x-large;
  font-family: sans-serif;
  color: white;
}

.page6 {
  display:none;
  height: 100%;
  width: 100%;
  background-color: #9ac1cb;
}
.page6 h1 {
  font-size: 80vh;
  font-family: sans-serif;
}
.page7 {
  height: 100%;
  width: 100%;
  background-color: #e7cfb1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.line {
  font-size: 4vw;
  font-family: sans-serif;
  font-weight: 400;
  /* background-color: red; */
  overflow: hidden;
}
#line {
  -webkit-text-decoration: underline 3px solid;
  text-decoration: underline 3px solid;
  text-underline-offset: 10px;
}

footer {
  height: 40vh;
  width: 100%;
  background-color: #151414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pro {
  height: 60%;
  font-size: 6vw;

  color: #695f53;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#ps {
  -webkit-text-decoration: underline 5px solid;
  text-decoration: underline 5px solid;
  text-underline-offset: 10px;
  color: #e7cfb1;
}
#ps:hover {
  color: #ec8b15;
}
.contact {
  height: 20%;
  width: 100%;
  font-size: 1vw;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  color: white;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .cursor {
    display: none;
  }
  nav {
    height: 10vh;
    /* background-color: blue; */
    justify-content: space-between;
  }
  .logo {
    height: 100%;
    width: 15%;
    /* background-color: red; */
  }
  .logo img {
    height: 100%;
  }
  .hamburger {
    height: 100%;
    width: 10%;
    font-size: xx-large;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #e7cfb1;
    display: block;
  }

  .options {
    display: none;
  }
  .main {
    height: 100%;
    width: 100%;
    background-color: #e7cfb1;
    /* position: relative; */
  }
  .page1 {
    height: 70%;
  }

  .page1 h1 {
    display: inline-block;
    font-family: sans-serif;
    font-size: 42vw;
    color: #f3c77c;
  }

  .page1 p {
    font-family: sans-serif;
    font-size: 5vw;
    color: #f3c77c;
    text-align: center;
    position: relative;
    bottom: -10%;
    line-height: 150%;
  }

  .page2 {
    height: 80%;
    width: 100%;

    background-color: #151414;
  }
  .page2 video {
    height: 60%;
    width: 60%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    left: 50%;
    top: 15%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .page3 {
    height: 70%;
    width: 100%;
  }
  .outer {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /* justify-content: ; */
    position: relative;
    padding: 1vh;
    overflow: hidden;
  }
  .outer h1 {
    color: #e7cfb1;
    font-family: sans-serif;
    font-size: 10vw;
    text-align: left;
    letter-spacing: 1vw;
    font-weight: 400;
  }
  .it1 {
    font-family: Pristina;
    font-style: italic;
    padding-right: 0vh;
  }

  .inner {
    position: absolute;
    height: 10vw;
    width: 70vw;
    bottom: 20%;
    left: 30%;
  }
  .inner p {
    color: #e7cfb1;
    font-size: 4vw;
  }

  .page4 {
    height: 250%;
    width: 100%;
    background-color: #151414;
    padding-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .left {
    height: 300%;
    width: 100%;
    /* background-color: #ec8b15; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left .v1l {
    height: 60%;
    width: 100%;
    /* position: absolute; */
    top: 0%;
  }
  #v1l {
    height: 80%;
    width: 100%;
  }
  .left p {
    font-size: 3vw;
    font-family: sans-serif;
    color: white;
    padding-bottom: 0vh;
  }
  .left .v2l {
    height: 40%;
    width: 100%;
    /* position: absolute; */
    top: 53%;
    right: 0%;
    /* background-color: red; */
  }
  #v2l {
    height: 110%;
    width: 100%;
  }
  .v2l p {
    font-size: 3vw;
    padding-left: 0%;
  }

  .right {
    height: 100%;
    width: 100%;
    /* background-color: #E7CFB1; */
    /* position: relative; */
  }
  #spinner {
    display: none;
  }
  .right p {
    font-size: 3vw;
    font-family: sans-serif;
    color: white;
    /* display: none; */
  }
  .i1r {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5%;
    left: 0%;
  }
  .i1r img {
    height: 80%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .i2r {
    /* position: absolute; */
    height: 50%;
    width: 100%;
    top: 65%;
    right: 0%;
    display: none;
  }

  .page5 {
    height: 100%;
    width: 100%;
    background-color: #151414;
    padding-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10%;
  }
  .innerp5 {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
  }
  .innerp5 img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .innerp5 p {
    font-size: 6vw;
    font-family: sans-serif;
    color: white;
  }
  .page6 {
    height: 100%;
    width: 100%;
    background-color: #9ac1cb;
    display: none;
  }
  .page6 p {
    font-size: 50vh;
    font-family: sans-serif;
  }

  .contact {
    height: 20%;
    width: 100%;
    font-size: 1.5vw;
    font-family: sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    color: white;
  }
}

